<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932559657027-rjhm9u67h4hn3mc1s9a5ajtcl1l5p1ka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932559657027-rjhm9u67h4hn3mc1s9a5ajtcl1l5p1ka</string>
	<key>API_KEY</key>
	<string>AIzaSyB9exD0peqYpAYkMCu6TtI825oJC18zx7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>932559657027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ae.threebayti.app</string>
	<key>PROJECT_ID</key>
	<string>bayti-bcc5e</string>
	<key>STORAGE_BUCKET</key>
	<string>bayti-bcc5e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932559657027:ios:1681d65379cc5254fe9cf6</string>
</dict>
</plist>