<ion-content [fullscreen]="true" class="app-bg ion-padding">
  <ion-grid class="h-100">
    <ion-row class="h-100 ion-justify-content-center">
      <ion-col class="ion-padding" size="12">
        <div class="stack app-fade-in">
          <img class="auth-logo" src="assets/images/logo.png" alt="">
          <h1 class="title ion-text-center">{{ 'title' | translate }}</h1>
          <p class="subtitle ion-text-center">{{ 'subtitle' | translate }}</p>
        </div>

        @if(!ui_controls.loading && ui_controls.stage === 1){
          <ion-row>
            <ion-col>
              <ax-text-field
                [label]="'email_Address' | translate"
                type="email"
                [required]="true"
                [placeholder]="'e_email_Address' | translate"
                autocomplete="email"
                [(ngModel)]="reset_p.email"
                name="email">
              </ax-text-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button (click)="send_reset_otp()" expand="block" class="ion-margin-vertical" type="button">
                {{ 'request_otp' | translate }}
              </ion-button>
            </ion-col>
          </ion-row>
        }

        @if(!ui_controls.loading && ui_controls.stage === 2){
          <ion-row class="ion-padding-bottom">
            <ion-col>
              <ion-text>
                {{ 'otp_sent_to_email' | translate }} {{ reset_p.email }}
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-padding-bottom">
            <ion-col class="ion-no-padding">
              <ax-text-field
                [label]="'otp' | translate"
                type="text"
                inputmode="numeric"
                [required]="true"
                autocomplete="one-time-code"
                [(ngModel)]="reset_p.code"
                name="input_otp">
              </ax-text-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding">
              <ax-text-field
                class="ion-margin-bottom"
                [label]="'new_password' | translate"
                type="password"
                [required]="true"
                autocomplete="new-password"
                [(ngModel)]="reset_p.new_password"
                name="new_password">
              </ax-text-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding">
              <ax-text-field
                class="ion-margin-bottom"
                [label]="'confirm_password' | translate"
                type="password"
                [required]="true"
                autocomplete="new-password"
                [(ngModel)]="reset_p.confirm_password"
                name="confirm_password">
              </ax-text-field>
            </ion-col>
          </ion-row>
          <ion-button (click)="reset_password()" expand="block" class="ion-margin-vertical" type="button">
            {{ 'reset_button' | translate }}
          </ion-button>
          <ion-row class="ion-padding-top">
            <ion-col>
              <ion-text> {{ 'error_dnd' | translate }} </ion-text>
              <ion-text> {{ 'error_dnd_more' | translate }} </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-padding-top">
            <ion-col>
              <ion-button (click)="back_to_email()" expand="block" size="small" class="ion-margin-vertical" type="button" fill="outline">
                {{ 'change_email' | translate }}
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="resend_otp()" expand="block" size="small" class="ion-margin-vertical" type="button" fill="outline">
                {{ 'resend_otp' | translate }}
              </ion-button>
            </ion-col>
          </ion-row>
        }

        @if(!ui_controls.loading){
          <p class="back-to-login-link">
            <ion-text class="back-to-login-action" (click)="sign_in()">
              {{ 'back_to_login' | translate }}
            </ion-text>
          </p>
        }

        @if (ui_controls.loading) {
          <div class="loader-row">
            <ax-loader></ax-loader>
          </div>
        }
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
