<ion-header class="m7-header-shadow ion-no-border">
  <ion-toolbar class="m7-toolbar ion-no-border">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/settings']" class="m7-header-back" aria-label="Back">
        <ax-icon name="arrow-left" />
      </ion-button>
    </ion-buttons>
    <ion-title class="m7-title">{{ 'title_my_addresses' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="user_wishlist()" fill="clear" class="m7-header-action">
        <ax-icon name="heart"/>
      </ion-button>
      <ion-button (click)="user_cart()" fill="clear" class="m7-header-action">
        <app-cart-icon [count]="0"></app-cart-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-bg">
  <div class="sheet ion-padding-horizontal">
    @if (ui_controls.is_loading) {
      <div class="loader-row">
        <ax-loader></ax-loader>
      </div>
    }
    @if (!ui_controls.is_loading){
      <ion-row class="ion-padding-bottom">
        <ion-col>
          <ax-text-field
            [label]="'label_name' | translate"
            type="text"
            [maxlength]="15"
            autocomplete="name"
            [(ngModel)]="update.name"
            name="name">
          </ax-text-field>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-bottom">
        <ion-col>
          <ax-text-field
            [label]="'label_phone' | translate"
            type="tel"
            inputmode="numeric"
            autocomplete="tel-national"
            [(ngModel)]="update.phone"
            name="phone">
          </ax-text-field>
        </ion-col>
        <ion-col>
          <ax-text-field
            [label]="'label_email' | translate"
            type="email"
            autocomplete="email"
            [(ngModel)]="update.email"
            name="email">
          </ax-text-field>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-bottom">
        <ion-col>
          <label class="address-field-label">{{ 'label_emirate' | translate }}</label>
          <ion-select
            class="ion-margin-vertical"
            [label]="'label_emirate' | translate"
            labelPlacement="stacked"
            interface="action-sheet"
            [(ngModel)]="update.city"
            name="emirate">
            <ion-select-option [value]="'Abu Dhabi'">Abu Dhabi</ion-select-option>
            <ion-select-option [value]="'Dubai'">Dubai</ion-select-option>
            <ion-select-option [value]="'Sharjah'">Sharjah</ion-select-option>
            <ion-select-option [value]="'Ajman'">Ajman</ion-select-option>
            <ion-select-option [value]="'Umm Al-Quwain'">Umm Al-Quwain</ion-select-option>
            <ion-select-option [value]="'Ras Al Khaimah'">Ras Al Khaimah</ion-select-option>
            <ion-select-option [value]="'Fujairah'">Fujairah</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ax-text-field
            [label]="'label_area' | translate"
            type="text"
            [(ngModel)]="update.area"
            name="area">
          </ax-text-field>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-bottom">
        <ion-col>
          <ax-text-field
            [label]="'label_street_address' | translate"
            type="text"
            autocomplete="street-address"
            [(ngModel)]="update.street"
            name="street">
          </ax-text-field>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-bottom">
        <ion-col>
          <ax-text-field
            [label]="'label_villa_number' | translate"
            type="text"
            [(ngModel)]="update.villa_number"
            name="villa_number">
          </ax-text-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          @if (!ui_controls.is_updating) {
            <ion-button (click)="update_billing()" expand="block" class="ion-margin-vertical" type="button"> {{ 'button_update' | translate }}
            </ion-button>
          }
          @if (ui_controls.is_updating) {
            <div class="loader-row">
              <ax-loader></ax-loader>
            </div>
          }
        </ion-col>
      </ion-row>
    }
  </div>
</ion-content>
